.header__text-about-me{
    display: none;
}
.about-me__content-items{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
}
.about-me__content-item-img{
    width: 100%;
    height: 100%;
}
.about-me__content-item-flex{
    display: flex;
    flex-direction: column;
}
.about-me__content-item-top{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.about-me__content-item-bottom{
    margin-top: auto;
}
.about-me__content-item-bottom-social-items{
    display: flex;
    column-gap: 15px;
    margin-bottom: 30px;
    margin-top: 8px;
}