.blog__content-items{
    display: flex;
    column-gap: 30px;
}
.blog__content-header-flex{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.blog__content-text{
    word-break: break-all;
    width: min-content;
}
.blog__content-item-grid{
    display: grid;
    grid-auto-flow: column;
    row-gap: 50px;
}
.blog__content-card{
    padding-top: 80vh;
}
.blog__content-card-text{
    padding: 17px 15px 17px 14px;
    background: rgba(0, 0, 0, 0.75);
}
.blog__content-card-img-1{
    background-image: url(../img/blog-content/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blog__content-card-img-2{
    background-image: url(../img/blog-content/2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blog__content-card-img-3{
    background-image: url(../img/blog-content/3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blog__content-card-img-4{
    background-image: url(../img/blog-content/4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
