.main__img{
    background-image: url(../img/main__content-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main__content-h1{
    margin-top: 37vw;
    text-align: end;
}