.photos__content-carousel{
    position: relative;
}
.photos__content-carousel-indicators {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    padding-top: 20px;
    position: absolute;
    width: 100%;
}
.photos__content-carousel-indicator {
    display: block;
    cursor: pointer;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);;
}
.photos__content-carousel-item {
    display: none;
}
.photos__content-carousel-imgs {   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.photos__content-carousel-img {
    width: 100%;
}
.photos__content-carousel-control{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
}
.photos__content-carousel-control-prev {
    background-color: #ffffff00;
    border: 0;
    cursor: pointer;
    position: relative;
    left: -50px;
}
.photos__content-carousel-control-next {
    background-color: #ffffff00;
    border: 0;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    right: -50px;
}
